{% extends 'emp_base.html' %}

{% block main %}

<div class="card shadow m-3">
    <div class="card-body">
        <a href="{% url 'edit_myqualities' %}" class="btn btn-primary float-right btn-sm">Edit My Qualities</a>
        <h5 class="p-2 text-danger" style="border-bottom : 2px solid orange">My Qualities</h5>

        <div class="container-fluid">
            <table class="table table-bordered">
                <tr>
                    <th>My Hard Working Experiences</th>
                    <td>{{qualities.hardworking}}</td>
                </tr>
                <tr>
                    <th>My Flexibility</th>
                    <td>{{qualities.flexibility}}</td>
                </tr>
                <tr>
                    <th>My Attitude</th>
                    <td>{{qualities.attitude}}</td>
                </tr>
                <tr>
                    <th>My Reliability</th>
                    <td>{{qualities.reliability}}</td>
                </tr>
                <tr>
                    <th>My Attention To Detail</th>
                    <td>{{qualities.attentiontodetail}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>


{% endblock %}