{% load static %}
{% load static %}

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#"><img src="{% static 'images/logo.jpeg' %}" width="50" height="50" class="img-thumbnail rounded-circle"> Employee Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'emp_home' %}"><i class="fa fa-home" ></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'registration' %}"><i class="bi bi-person-add"></i> Employee Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'emp_login' %}"> <i class="fas fa-sign-in-alt" ></i> Employee Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-sign-in-alt" ></i> Admin Login</a>
      </li>
    </ul>
  </div>
</nav>

<html>
<head>


<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <style>
    .list-group-item{
    padding: 15px !important;
    }
  </style>

</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 p-0">
      <center><img src="{% static 'images/logo.jpeg' %}" width="100" height="100" class="img-thumbnail rounded-circle my-3"></center>

      <div class="list-group">
        <a href="{% url 'user_home' %}" class="list-group-item list-group-item-success list-group-item-action text-center {% if request.path == '/user_home/' %} active {% endif %}">Dashboard</a>
        <a href="{% url 'user_profile' %}" class="list-group-item list-group-item-danger list-group-item-action text-center {% if request.path == '/user_profile/' %} active {% endif %}">Profile</a>
        <a href="{%url 'user_change_password' %}" class="list-group-item list-group-item-success list-group-item-action text-center {% if request.path == '/user_change_password/' %} active {% endif %}">Change Password</a>
        <a href="{% url 'logout' %}" class="list-group-item list-group-item-warning list-group-item-action text-center">Logout</a>
      </div>
    </div>

    <div class="col-sm-10 p-0">
      <div class="container-fluid p-2">
        <h5 class="text-center p-3 font-weight-bold" style="border-bottom : 2px solid purple ; border-top : 2px solid purple;">Employee Management System</h5>

        <div class="card shadow" style="min-height : 81vh">
          <div class="card-body">
            {% block main %}

              {% endblock %}
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

</body>
</html>